<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bulma.min.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <section class="section">
      <div class="maincolumns columns is-desktop is-vcentered">
        <div
          class="column is-10 is-offset-1 notification is-info is-light box container"
        >
          <div class="title">Reviews</div>
          <% if (reviews) { %>
          <div class="table-container">
            <table class="table is-bordered is-hoverable is-striped is-narrow">
              <thead>
                <tr>
                  <th>Review</th>
                  <th>By</th>
                  <th>Rating</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <% for(i=0; i < reviews.length; i++) { %>
              <tr>
                <td><%= reviews[i].details %></td>
                <td><%= reviews[i].reviewer_name %></td>
                <td><%= reviews[i].rating %></td>
                <td>
                  <a
                    href="/deleteReview/<%= restaurantId%>?id=<%= reviews[i].review_id %>"
                  >
                    <span class="icon is-small">
                      <i class="fas fa-trash"></i>
                    </span>
                  </a>
                </td>
              </tr>
              <% } %>
              <tfoot>
                <tr>
                  <td colspan="4">There are <%= i %> reviews.</td>
                </tr>
              </tfoot>
            </table>
            <!-- adding review area -->
            <form action="/addReview?id=<%=restaurantId%>" method="POST">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Add New Review</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input
                        name="reviewer_name"
                        class="input"
                        type="text"
                        placeholder="Reviewer Name"
                      />
                    </p>
                  </div>
                  <div class="field">
                    <p class="control is-expanded">
                      <input
                        name="details"
                        class="input"
                        type="text"
                        placeholder="Details"
                      />
                    </p>
                  </div>
                  <div class="field">
                    <p class="control is-expanded">
                      <input
                        name="rating"
                        class="input"
                        type="number"
                        min="0"
                        max="5"
                        placeholder="Rating"
                      />
                    </p>
                  </div>
                  <div class="field">
                    <button class="button is-link">
                      <span>Add</span>
                      <span class="icon is-small">
                        <i class="fas fa-utensils"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <% } %>
        </div>
      </div>
    </section>
  </body>
</html>
