<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bulma.min.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <section class="section">
      <div class="maincolumns columns is-desktop is-vcentered">
        <div
          class="column is-10 is-offset-1 notification is-info is-light box container"
        >
          <div class="title">Reviews</div>
          <% if (locals) { %>
          <div class="table-container">
            <table class="table is-bordered is-hoverable is-striped is-narrow">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Review</th>
                  <th>By</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <% let i=0; %> <% for(i=0; i < reviews.length; i++) { %>
              <tr>
                <td><%= reviews[i].review_id %></td>
                <td><%= reviews[i].details %></td>
                <td><%= reviews[i].reviewer_name %></td>
                <td><%= reviews[i].rating %></td>
              </tr>
              <% } %>
              <tfoot>
                <tr>
                  <td colspan="4">There are <%= i %> reviews.</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <% } %>
        </div>
      </div>
    </section>
  </body>
</html>
